+++
title = "Examples"
linkTitle = "Examples"

+++

{{< blocks/cover title="サンプルサイトです" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="/docs">
		Document <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a> 
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="/api/index.html">
		API Reference <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Porridge temperature assessment - in the cloud!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
概要説明
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-book" title="Manual" url="/docs" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions" url="https://github.com/google/docsy-example" %}}
コード貢献の説明
{{% /blocks/feature %}}


{{< /blocks/section >}}


